<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Turboapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_include_tags %> 

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= Time.zone.now %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <% if user_signed_in? %>
        Logged in as <%= current_user.email %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
    <p>
      <%= link_to "Login", new_user_session_path %> &nbsp;|&nbsp;
      <%= link_to "Sign Up", new_user_registration_path %>
    </p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
